[user]
    name = Mike Whitby
    email = m.whitby@gmail.com
[core]
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore-global
    autocrlf = input
[alias]
    st = status
    co = checkout
    ci = commit
[push]
    default = simple
