/*
/*/
!/.gitignore
!/README.md
!/.vimrc
!/.vim/
/.vim/.netrwhist
/.vim/bundle/*
/.vim/backup/*
/.vim/undo/*
!/.bash_profile
!/.gitconfig
!/.gitignore-global
!/bin/
!/vendor/
!/.n98-magerun/
!/bash_completion/
