/*
!/.gitignore
!/README.md
!/.vimrc
!/.vim/
/.vim/.netrwhist
/.vim/plugged/*
/.vim/backup/*
/.vim/undo/*
!/.bash_profile
!/.gitconfig
!/.gitignore-global
!/bin/
/bin/mvim
!/.vendor/
/.vendor/ngrok/*
/.vendor/composer/*
!/.n98-magerun/
!/.bash_completion.d/
!/projects/
/projects/*
!*.gitkeep
